body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-header {
    background-image: linear-gradient(to right, #12086F, #4361EE); 
}

h1 {
    font-weight: bolder;
}

h3 {
    font-size: medium;
    color: aliceblue;
    font-weight: bolder;
}

#form-heading {
    /* font-size: large; */
    padding-top: 20px;
    font-weight: bolder;
    /* color: #4361EE; */
}

#search-input {
    width: 100%;
    border-radius: 4px;
    height: 35px;
}

#search-button {
    background-image: linear-gradient(to right, #2B35AF, #4361EE);
    color: aliceblue;
    width: 100%;
    margin-top: 10px;
}

#history > * {
    margin-top: 10px;
    height: 35px;
    border-radius: 4px;
}

#today {
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.dayCard {
    background-image: linear-gradient(0.25turn, #2B35AF, #4361EE);
    margin: 10px;
    padding: 20px 20px 10px 20px;
}

.dayCard p {
    color: aliceblue;
    font-size: small;
}
